.clear{
clear:both;
}

#wrapper{
width: 1051px;
margin: 0 auto; 
}
#head{
height:117px;
background-image:url("../../img/logo.png");
background-repeat:no-repeat;
}
#userPanel{
margin:5px 0px 5px 0px;
float:right;
}
#content{
width: 650px;
background-color:#eee;
float:left;
}
#sitebar{
width: 401px;
float:left;
background-color:#a9a9a9;
}
#footer{
background-color:#ffcccc;
}
