.clear{
clear:both;
}
#head{
margin-bottom:20px;
border-bottom:1px solid #ececec;
background-color:#fdfdfd;
height:50px;
}
#logo{
width:150px;
height:50px;
background-image:url("../../img/cp/cmslogo.png");
float:left;
}
#head-block{
margin-top:15px;
float:left;
}
#head-block a{
margin-left:10px;
}
#content{

}
#footer{
margin-top:20px;
text-align:center;
}


.ajax-loading{
width:16px;
height:16px;
background-image:url("../../img/cp/ajax.gif");
display: none;
}
.ajax-loading-visible{
display:block;
}