.mini-block{
	float:left;  
	margin:0px 5px 10px 5px;  
	width:430px; 
	padding:10px;
}

.mini-block-title{
	font-size: 14pt; 
	font-family: HeliosExtThin;
}

.cat-data{
margin-top: 5px;
font-size: 8pt;
margin-bottom: 5px;
}

.mini-block-img{
	float: left;
	margin: 0px 15px 10px 0px;
}
.mini-block-img img{
	width: 135px;
	height: 90px;
}

.mini-block-description{
	font-size: 10pt;
	text-align: justify;
}